<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">#</th>
          <th class="h4">Nombre común</th>
          <th class="h4">Tipo</th>
          <th class="h4">Clima</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <tr *ngFor="let planta of plantas">
        <td>
          <dd><img src="{{ artwork.images[0].source }}" alt="{{ artwork.name }}" (click)="onSelected(artwork)"/> </dd>
        </td>
        <td>
          <h3><b>Año:</b> {{ artwork.name }}</h3>
          <dd><b>Año:</b> {{ artwork.year }}</dd>
          <dd><b>Tipo:</b> {{ artwork.type }}</dd>
        </td>
      </tr>
    </table>
  </div>
</div>
