<h1 style="color:#454545" class="" display-2 p-3>Vivero El Otoño</h1>
<hr />
<img src="./assets/Vivero.PNG">
<hr />

<div>
  <div class="col-4">
    <table class="table">
      <thead _ngcontent-iuq-c16 class="table-dark" >
        <tr>
          <th class="h6">#</th>
          <th class="h6">Nombre común</th>
          <th class="h6">Tipo</th>
          <th class="h6">Clima</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let planta of plantas">
          <td>
            <dd class="h6">{{planta.id}}</dd>
          </td>
          <td>
            <dd class="h6">{{planta.nombre_comun}}</dd>
          </td>
          <td>
            <dd class="h6">{{planta.tipo}}</dd>
          </td>
          <td>
            <dd class="h6">{{planta.clima}}</dd>
          </td>
        </tr>
      </tbody>
    </table>

    <h5>Total plantas de interior: {{totalPlantasInterior}}</h5>
    <h5>Total plantas de exterior: {{totalPlantasExterior}}</h5>
  </div>
